language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev"
# command to install dependencies
install:
  - python setup.py install
# command to run tests
script:
  - python -m clearskypy.downloader.socket --help
  - merra2_downloader --help
